Checks:             '*,
                    -altera-id-dependent-backward-branch,
                    -altera-struct-pack-align,
                    -altera-unroll-loops,
                    -boost-use-ranges,
                    -bugprone-easily-swappable-parameters,
                    -bugprone-implicit-widening-of-multiplication-result,
                    -bugprone-narrowing-conversions,
                    -bugprone-suspicious-stringview-data-usage,
                    -bugprone-unchecked-optional-access,
                    -cert-dcl50-cpp,
                    -cert-err58-cpp,
                    -clang-analyzer-cplusplus.NewDelete,
                    -cppcoreguidelines-explicit-virtual-functions,
                    -cppcoreguidelines-macro-usage,
                    -cppcoreguidelines-narrowing-conversions,
                    -cppcoreguidelines-no-malloc,
                    -cppcoreguidelines-non-private-member-variables-in-classes,
                    -cppcoreguidelines-owning-memory,
                    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
                    -cppcoreguidelines-pro-bounds-constant-array-index,
                    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
                    -cppcoreguidelines-pro-type-reinterpret-cast,
                    -cppcoreguidelines-pro-type-union-access,
                    -cppcoreguidelines-pro-type-vararg,
                    -cppcoreguidelines-special-member-functions,
                    -cppcoreguidelines-virtual-class-destructor,
                    -fuchsia-default-arguments-calls,
                    -fuchsia-default-arguments-declarations,
                    -fuchsia-overloaded-operator,
                    -fuchsia-statically-constructed-objects,
                    -fuchsia-trailing-return,
                    -google-build-using-namespace,
                    -google-default-arguments,
                    -google-readability-todo,
                    -hicpp-multiway-paths-covered,
                    -hicpp-no-array-decay,
                    -hicpp-no-malloc,
                    -hicpp-signed-bitwise,
                    -hicpp-special-member-functions,
                    -hicpp-uppercase-literal-suffix,
                    -hicpp-use-auto,
                    -hicpp-vararg,
                    -llvm-header-guard,
                    -llvmlibc-callee-namespace,
                    -llvmlibc-implementation-in-namespace,
                    -llvmlibc-inline-function-decl,
                    -llvmlibc-restrict-system-libc-headers,
                    -misc-const-correctness,
                    -misc-header-include-cycle,
                    -misc-include-cleaner,
                    -misc-non-private-member-variables-in-classes,
                    -modernize-avoid-bind,
                    -modernize-use-constraints,
                    -modernize-use-nodiscard,
                    -modernize-use-trailing-return-type,
                    -portability-simd-intrinsics,
                    -portability-template-virtual-member-function,
                    -readability-convert-member-functions-to-static,
                    -readability-identifier-length,
                    -readability-uppercase-literal-suffix'
WarningsAsErrors:   '*'
HeaderFilterRegex:  '^.*genesis/(include|src)/genesis/.*\.h$'
FormatStyle:        'file'
UseColor:           true
CheckOptions:
  - {key: cppcoreguidelines-avoid-magic-numbers.IgnoreAllFloatingPointValues, value: true }
  - {key: cppcoreguidelines-avoid-magic-numbers.IgnorePowersOf2IntegerValues, value: true }
  - {key: readability-magic-numbers.IgnoreAllFloatingPointValues,             value: true }
  - {key: readability-magic-numbers.IgnorePowersOf2IntegerValues,             value: true }
  - {key: modernize-use-override.IgnoreDestructors,                           value: true }
  - {key: hicpp-use-override.IgnoreDestructors,                               value: true }
...
