[submodule "third-party/SDL2"]
	path = third-party/SDL2
	url = https://github.com/hogletgames/SDL-mirror.git
[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = https://github.com/hogletgames/spdlog.git
[submodule "third-party/glm"]
	path = third-party/glm
	url = https://github.com/hogletgames/glm.git
[submodule "third-party/Vulkan/Vulkan-Headers"]
	path = third-party/Vulkan/Vulkan-Headers
	url = https://github.com/hogletgames/Vulkan-Headers.git
[submodule "third-party/Vulkan/Vulkan-Loader"]
	path = third-party/Vulkan/Vulkan-Loader
	url = https://github.com/hogletgames/Vulkan-Loader.git
[submodule "third-party/Vulkan/glslang"]
	path = third-party/Vulkan/glslang
	url = https://github.com/hogletgames/glslang.git
[submodule "third-party/Vulkan/SPIRV-Headers"]
	path = third-party/Vulkan/SPIRV-Headers
	url = https://github.com/hogletgames/SPIRV-Headers.git
[submodule "third-party/Vulkan/SPIRV-Tools"]
	path = third-party/Vulkan/SPIRV-Tools
	url = https://github.com/hogletgames/SPIRV-Tools.git
[submodule "third-party/Vulkan/Vulkan-ValidationLayers"]
	path = third-party/Vulkan/Vulkan-ValidationLayers
	url = https://github.com/hogletgames/Vulkan-ValidationLayers.git
[submodule "third-party/Vulkan/shaderc"]
	path = third-party/Vulkan/shaderc
	url = https://github.com/hogletgames/shaderc.git
[submodule "third-party/stb"]
	path = third-party/stb
	url = https://github.com/hogletgames/stb.git
[submodule "third-party/tinyobjloader"]
	path = third-party/tinyobjloader
	url = https://github.com/hogletgames/tinyobjloader.git
[submodule "third-party/magic_enum"]
	path = third-party/magic_enum
	url = https://github.com/hogletgames/magic_enum.git
[submodule "third-party/fmt"]
	path = third-party/fmt
	url = https://github.com/hogletgames/fmt.git
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/hogletgames/googletest.git
[submodule "third-party/Vulkan/SPIRV-Cross"]
	path = third-party/Vulkan/SPIRV-Cross
	url = https://github.com/hogletgames/SPIRV-Cross.git
[submodule "third-party/Vulkan/MoltenVK/MoltenVK"]
	path = third-party/Vulkan/MoltenVK/MoltenVK
	url = https://github.com/hogletgames/MoltenVK.git
